body {
    padding: 0;
    font-family: "Arial", sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #000000;
    background: #e67f7f url("../img/serdechki-on-1.webp") no-repeat 50% 0;
  }
  
  h1 {
    width: 260px;
    font-family: "Georgia", serif;
    font-size: 36px;
    line-height: 36px;
  }
  
  h2 {
    padding-bottom: 12px;
    border-bottom: 1px solid #4e4444;
  }
  
  .site-header {
    margin-bottom: 30px;
  }
  
  .skills-item {
    margin-bottom: 15px;
    padding-left: 20px;
    border-left: 10px solid #473b3b;
    color: #443b3b;
  }
  
  /* Let's add a new empty rule here */
  
  .container {
    width: 480px;
    margin: 0 auto;
  }
  
  .site-header img {
    display: block;
    margin: 0 auto;
  }
  
  .features {
    margin-bottom: 30px;
  }
  
  .features p {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin: 0 5px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center top;
  }
  
  .feature-kitten {
    padding-top: 60px;
    background-image: url("../img/heart.png");
}
  
  .feature-cat {
    padding-top: 60px;
    background-image: url("../img/giftbox.png");
  }
  
  .feature-train {
    padding-top: 60px;
    background-image: url("../img/cupid.png");
  }
  
  .skills-list {
    padding: 0;
    list-style: none;
  }
  
  .site-footer {
    display: flex;
    justify-content: space-between;
    color: #575353;
  }

  .wishes{
    margin-top: 30px;
    text-align: center;
  }

  button{
    background: rgba(255, 0, 0, 0.61);
    color: black;
    border: 5px solid;
    border-radius: 100px;
    height: 50px;
    width: 500px;
    cursor: pointer;
  }

  #p-love-wishes {
    font-size: 150px;
    line-height: 28px;
    line-height: 40px;
    color: rgba(255, 0, 0, 0.678);
    text-align: justify;
  }




  /*Блок з купівлею та відбраженням */

  .site-footer p {
    border:1px solid red  ;
    padding: 10px 20px;
    border-radius: 10px 8px;
    background-color: burlywood;
    cursor: pointer;
  }

